<div class="shopping-list">
    <h2>Lista de Compras</h2>

    <input [(ngModel)]="newItem" placeholder="Adicionar novo item" />
    <button (click)="addItem()">Adicionar</button>

    <h3>Itens não comprados</h3>
    <ul>
      <li *ngFor="let item of getNotPurchasedItems()">
        <span>{{ item.name }}</span>
        <div>
          <button (click)="togglePurchased(item)">Marcar como comprado</button>
          <button (click)="editItem(item)">Editar</button>
          <button (click)="deleteItem(item)">Excluir</button>
        </div>
      </li>
    </ul>

    <h3>Itens comprados</h3>
    <ul>
      <li *ngFor="let item of getPurchasedItems()">
        <span>{{ item.name }}</span>
        <div>
          <button (click)="togglePurchased(item)">Marcar como não comprado</button>
          <button (click)="editItem(item)">Editar</button>
          <button (click)="deleteItem(item)">Excluir</button>
        </div>
      </li>
    </ul>
  </div>