.shopping-list-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    font-size: 32px;
    margin: 0 0 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-task-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.add-task-container input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.add-task-container input:focus {
    border-color: #00796b;
    outline: none;
}

.add-task-container button {
    background: #00796b;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-weight: bold;
}

.add-task-container button:hover {
    background-color: #004d40;
    transform: translateY(-3px);
}

.shopping-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.shopping-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    transition: background-color 0.3s;
}

.shopping-item:hover {
    background-color: #f1f1f1;
}

.shopping-item button {
    background: #00796b;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-weight: bold;
}

.shopping-item button:hover {
    background-color: #004d40;
    transform: translateY(-3px);
}

.logout-button {
    background: #f44336;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-weight: bold;
}

.logout-button:hover {
    background-color: #d32f2f;
    transform: translateY(-3px);
}

.shopping-item input[type="text"] {
    flex: 1;
    border: none;
    background-color: transparent;
    font-size: 16px;
    margin-right: 10px;
}

.shopping-item input[type="text"]:focus {
    outline: none;
}
